.max60
  max-width: calc( 100% - 80px )
.noWrapText
  @media only screen and (max-width: 1200px)
    max-width: calc( 100% - 35px )
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
