<div class="px-lg-5 pt-lg-5 px-2 pt-2">
  <div class="row mx-0 h3 mb-4">
    Añadir Persona.
  </div>
  <form class=" px-3 px-lg-0" [formGroup]="addPersonForm" (ngSubmit)="createPerson()">
    <div class="form-group">
      <label>Nombre completo</label>
      <input formControlName="fullname" type="text" class="form-control"
        [class.is-invalid]="isSubmitted && !addPersonForm.controls.fullname.valid" placeholder="Ingrese el nombre"
        required>
    </div>
    <div class="form-group">
      <label>Numero Identificación</label>
      <input formControlName="identificationNumber" type="number" class="form-control"
        [class.is-invalid]="isSubmitted && !addPersonForm.controls.identificationNumber.valid"
        placeholder="Ingrese el numero de Identificación" required>
    </div>
    <div class="form-group">
      <label>Fecha de nacimiento</label>
      <input formControlName="birth" type="date" class="form-control" placeholder="Ingrese la fecha de nacimiento"
        [class.is-invalid]="isSubmitted && !addPersonForm.controls.birth.valid" required>
    </div>
    <div class="form-group">
      <label>Genero</label>
      <select formControlName="gender" id="inputState" class="form-control"
        [class.is-invalid]="isSubmitted && !addPersonForm.controls.gender.valid">
        <option selected [value]="null">Seleccione...</option>
        <option *ngFor="let gender of genders" [value]="gender.value">{{gender.label}}</option>
      </select>
    </div>
    <div class="row mx-0 my-5 px-3 justify-content-around">
      <div class="col-12 col-md-5 p-4 border rounded my-3 my-md-0" *ngFor="let parent of parents">
        <div class="row mx-0 mb-4">
          <div class="h5 my-auto">
            {{parent.title}}
          </div>
          <div class="h6 row text-muted border rounded p-2 my-auto ml-auto max60"
            *ngIf="!!selectedParents[parent.gender]">
            <span class="my-auto noWrapText">{{selectedParents[parent.gender].fullname}}</span>
            <div class="ml-2 my-auto pointer" (click)="removeSelect(parent.gender)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="gray" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="row mx-0 h-100 my-n4">
          <div class="col-12 my-5 py-5 px-0 d-flex"
            *ngIf="parentsPaginationConfig[parent.gender].loading; else elseData">
            <div class="spinner-border text-primary mx-auto" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <ng-template #elseData>
            <div class="col-12 my-5 py-5 text-center" *ngIf="!parentesPaginationData[parent.gender].length">
              {{parentsPaginationConfig.emptyPageMessage}}
            </div>
            <div class="col-6 col-xl-4 p-1 px-lg-3 pointer"
              *ngFor="let posibleParent of parentesPaginationData[parent.gender];index as i"
              (click)="selectParent(posibleParent)">
              <div class="row mx-0">
                <img class=" mx-auto py-2 rounded-circle img img-fluid" alt="img nombre" height="48px" width="48px"
                  [src]="'https://ui-avatars.com/api/?name='+space2Plus(posibleParent.fullname)+'&background='+parentesPaginationData[parent.gender+'Colors'][i]+'&color=fff'">
              </div>
              <div class="row mx-0">
                <span class="mx-auto text-center">{{posibleParent.fullname}}</span>
              </div>
            </div>
            <div class="row mr-0 ml-auto mt-auto pt-4">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm">
                  <li class="page-item" (click)="previousPage(parent.gender)"
                    [class.disabled]="parentsPaginationConfig[parent.gender].currentPage==1">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of posiblePages(parent.gender)"
                    (click)="goToPage(parent.gender, page)"
                    [class.active]="parentsPaginationConfig[parent.gender].currentPage==page">
                    <a class="page-link">{{page}}</a>
                  </li>
                  <li class="page-item" (click)="nextPage(parent.gender)"
                    [class.disabled]="parentsPaginationConfig[parent.gender].currentPage==parentsPaginationConfig[parent.gender].totalPages">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-block btn-primary my-4">Añadir Persona</button>
  </form>
</div>