<div class="pt-0 pt-lg-5 mt-4 mt-lg-5">
  <div *ngFor="let sideBarRoute of sideBarRoutes" class="sidebar-text col-12 h5 text-light border-0"
    [routerLink]="sideBarRoute.path" [class.selected]="sideBarRoute.path == router.url">
    {{sideBarRoute.displayName}}
  </div>
</div>