<div class="px-lg-5 pt-lg-5 px-2 pt-2">
  <div class="row mx-0 h3 mb-4">
    Ver Personas.
  </div>
  <div class="col-12 vh-50 px-0 d-flex" *ngIf="paginationConfig.loading; else noLoading">
    <div class="spinner-border text-primary m-auto" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <<ng-template #noLoading>
    <table class="table table table-bordered table-responsive-xl table-striped text-center">
      <thead>
        <tr>
          <th scope="col">Nombre Completo</th>
          <th scope="col">Documento de identidad</th>
          <th scope="col">Genero</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Padre</th>
          <th scope="col">Madre</th>
          <th scope="col">Hijos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let peopleData of peopleTableData">
          <th *ngFor="let data of peopleData">{{data}}</th>
        </tr>
      </tbody>
    </table>
    <div class="row mx-0 pt-4">
      <nav aria-label="Page navigation example" class="ml-auto">
        <ul class="pagination pagination-sm">
          <li class="page-item" (click)="previousPage()" [class.disabled]="paginationConfig.currentPage==1">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of posiblePages()" (click)="goToPage(page)"
            [class.active]="paginationConfig.currentPage==page">
            <a class="page-link">{{page}}</a>
          </li>
          <li class="page-item" (click)="nextPage()"
            [class.disabled]="paginationConfig.currentPage==paginationConfig.totalPages">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    </ng-template>
</div>