<div class="row mx-0 h-100">
  <div [ngClass]="isOpenMenu?'col-xl col-lg-3 px-0 sidebar':'col-xl col-lg-3 px-0 d-lg-block d-none sidebar'">
    <div class="d-flex d-lg-none p-2">
      <div class="ml-auto border border-light rounded-circle" (click)="toogleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-x"
          viewBox="0 0 16 16">
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
      </div>
    </div>
    <app-sidebar></app-sidebar>
  </div>
  <div [ngClass]="isOpenMenu?'col-xl-10 col-lg-9 px-0 d-lg-block d-none router-outlet':'col-xl-10 col-lg-9 px-0 router-outlet'">
    <div class="d-flex d-lg-none p-2">
      <div class="p-2 border rounded" (click)="toogleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>